<h1>Find Anagrams!</h1>
<form action="/anagrams">
  <div class="form-group">
    <label for="word">Enter a word:
    </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="list">Enter the list of words you would like to check:
    </label>
    <input id="list" name="list" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check Anagrams!</button>
</form>
